<a href="https://colab.research.google.com/github/YongjaeKwon0629/Github_Test/blob/main/06_23_colab_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [7]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [9]:
x = str(3)
y = int(3)
z = float(3)

In [10]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [12]:
x = "John"
# is the same as
x = 'John'

In [13]:
a = 4
A = "Sally"

In [14]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [15]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [16]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [17]:
x = "Python is awesome"
print(x)

Python is awesome

In [18]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [19]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [20]:
x = 5
y = 10
print(x + y)

15

In [21]:
x = 5
y = "John"
print(x, y)

5 John

In [22]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [23]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [24]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [25]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
x = 5
print(type(x))

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [26]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [33]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [32]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [31]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [30]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [29]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [28]:
import random

print(random.randrange(1, 10))

3

In [35]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [36]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [37]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [38]:
print("Hello")
print('Hello')

Hello
Hello

In [39]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [40]:
a = "Hello"
print(a)

Hello

In [41]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [42]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = "Hello, World!"
print(a[1])

In [43]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [44]:
a = "Hello, World!"
print(len(a))

13

In [45]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [46]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [47]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [48]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [49]:
b = "Hello, World!"
print(b[2:5])

llo

In [50]:
b = "Hello, World!"
print(b[:5])

Hello

In [51]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [52]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [53]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [54]:
a ="Hello, World!"
print(a.lower())

hello, world!

In [55]:
a = "Hello, World!"
print(a.strip())

Hello, World!

In [57]:
a="Hello, World!"
print(a.replace("H","J"))

Jello, World!

In [58]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [59]:
a="Hello"
b="World"
c=a+""+b
print(c)

HelloWorld

In [60]:
age=36
txt=f"my name is John, I an {age}"
print(txt)

my name is John, I an 36

In [62]:
price=59
txt=f"The price is{price:.2f}dollars"
print(txt)

The price is59.00dollars

In [67]:
txt = "We are the so-called \"Vikings\" from the north."

In [85]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [74]:
'if 문에서 조건을 실행하면 Python은 True or를 반환합니다'
a=200
b=33
if b>a:
  print("b is greater than a")
else:
  print("b is not greater tha a")

b is not greater tha a

In [75]:
' bool()기능을 사용하면 모든 값을 평가하고 True 그에 False 대한 대가를 받을 수 있습니다.'
print(bool("hello"))
print(bool(15))

True
True

In [76]:
'두 가지 변수를 평가합니다.'
x="Hello"
y=15
print(bool(x))
print(bool(y))

True
True

In [80]:
'다음은 True를 반환합니다.'
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [81]:


'다음은 False를 반환합니다.'
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [82]:
class myclass():
  def __len__(self):
    return 0
myobj =myclass()
print(bool(myobj))

False

In [83]:
'부울 값을 반환하는 함수를 만들 수 있습니다.'
def myFunction():
  return True

print(myFunction())

True

In [84]:
'함수가 True를 반환하면 "YES!"를 출력하고, 그렇지 않으면 "NO!"를 출력합니다.'
def myFunction():
  return True
if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [87]:
'Python에는 또한 객체가 특정 데이터 유형인지 확인하는 데 사용할 수 있는 함수와 같이 부울 값을 반환하는 많은 내장함수가 있습니다.'
x=200
print(isinstance(x, int))

True

In [88]:
print(10+5)

15

In [91]:
'파이썬 산술 연산자'
'산술 연산자는 숫자 값과 함께 사용되어 일반적인 수학 연산을 수행합니다.'

'Operator	  Name	      Example '
 ' +	       Addition	      x + y 	'
' -	       Subtraction     	x - y '
'*	      Multiplication   	x * y	'
'/	          Division	    x / y	'
'%	           Modulus	    x % y'
'**	     Exponentiation 	x ** y	'
'//	        Floor division	x // y'

IndentationError: unexpected indent (ipython-input-91-2143745663.py, line 5)

In [93]:
print((6 + 3) - (6 + 3))
'괄호는 가장 높은 우선순위를 가지므로 괄호 안의 표현식이 먼저 평가되어야합니다.'

0

'괄호는 가장 높은 우선순위를 가지므로 괄호 안의 표현식이 먼저 평가되어야합니다.'

In [94]:
'곱셈은 덧셈보다 우선순위가 높으므로 곱셈은 덧셈보다 먼저 평가됩니다.'
print(100+5*3)

115