<a href="https://colab.research.google.com/github/YongjaeKwon0629/Github_Test/blob/main/06_23_colab_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [7]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [9]:
x = str(3)
y = int(3)
z = float(3)

In [10]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [12]:
x = "John"
# is the same as
x = 'John'

In [13]:
a = 4
A = "Sally"

In [14]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [15]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [16]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [17]:
x = "Python is awesome"
print(x)

Python is awesome

In [18]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [19]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [20]:
x = 5
y = 10
print(x + y)

15

In [21]:
x = 5
y = "John"
print(x, y)

5 John

In [22]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [23]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [24]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [25]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic